In [58]:
import pandas as pd
import numpy as np
from pandas import get_dummies
from sklearn.preprocessing import MinMaxScaler

In [59]:
df = pd.read_csv("train.csv")

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7184 non-null   object
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7188 non-null   float64
 7   Type                    7008 non-null   object
 8   Distance                4845 non-null   object
dtypes: float64(1), object(8)
memory usage: 506.7+ KB

In [61]:
df.Year = df.Year.fillna(value = "2008")

In [62]:
df.Year.isnull().sum()

0

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7205 non-null   object
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7188 non-null   float64
 7   Type                    7008 non-null   object
 8   Distance                4845 non-null   object
dtypes: float64(1), object(8)
memory usage: 506.7+ KB

In [64]:
df.Type.value_counts()

Foreign Used     4896
Nigerian Used    1895
Brand New         217
Name: Type, dtype: int64

In [65]:
df.Type = df.Type.fillna(value = 'Foreign Used')

In [66]:
df.Type.isnull().sum()

0

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7205 non-null   object
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7188 non-null   float64
 7   Type                    7205 non-null   object
 8   Distance                4845 non-null   object
dtypes: float64(1), object(8)
memory usage: 506.7+ KB

In [68]:
df.Distance.value_counts()

75,000     70
65,000     54
85,000     53
100,000    53
50,000     47
           ..
10,559      1
56,443      1
86,582      1
175,294     1
83,308      1
Name: Distance, Length: 3144, dtype: int64

In [69]:
df.Distance = df.Distance.fillna(value ='75,000')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7205 non-null   object
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7188 non-null   float64
 7   Type                    7205 non-null   object
 8   Distance                7205 non-null   object
dtypes: float64(1), object(8)
memory usage: 506.7+ KB

In [71]:
df.drop("VehicleID", axis = 1, inplace  = True)

In [72]:
df.drop("Model", axis = 1, inplace  = True)

In [73]:
import seaborn as sns

In [74]:
df["Amount (Million Naira)"].isnull().sum()

17

In [75]:
mean = np.mean(df["Amount (Million Naira)"])

In [76]:
mean

11.847999443516994

In [77]:
df["Amount (Million Naira)"] = df["Amount (Million Naira)"].fillna(value = 11.847999443516994)

In [78]:
df["Amount (Million Naira)"].isnull().sum()

0

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Location                7205 non-null   object
 1   Maker                   7205 non-null   object
 2   Year                    7205 non-null   object
 3   Colour                  7205 non-null   object
 4   Amount (Million Naira)  7205 non-null   float64
 5   Type                    7205 non-null   object
 6   Distance                7205 non-null   object
dtypes: float64(1), object(6)
memory usage: 394.1+ KB

In [80]:
for col in df.columns:
    print(col, df[col].unique(), sep = ":", end = '\n\n' )

Location:['Abuja' 'Ibadan' 'Lagos']

Maker:['Honda' 'Hyundai' 'Lexus' 'Mercedes-Benz' 'Toyota' 'Acura' 'Dodge'
 'Nissan' 'Kia' 'BMW' 'Volvo' 'Ford' 'Land Rover' 'Lincoln' 'Peugeot'
 'Chevrolet' 'Audi' 'Jaguar' 'Infiniti' 'Porsche' 'Fiat' 'Maserati'
 'Volkswagen' 'Suzuki' 'Bentley' 'GAC' 'Mazda' 'Scion' 'Renault'
 'Mitsubishi' 'Mini' 'Pontiac' 'Cadillac' 'Ferrari' 'Jeep' 'Buick'
 'Rolls-Royce' 'GMC' 'Chrysler' 'Lamborghini' 'Citroen' 'King' 'BAW'
 'Saturn' 'Tata' 'Opel' 'JAC' 'MG' 'Hummer' 'Subaru' 'Rover' 'Saab'
 'Skoda' 'IVM' 'Brabus']

Year:['2,011' '2,012' '2,010' '2,017' '2,002' '2,019' '2,015' '2,004' '2,003'
 '2,008' '2,018' '2,020' '2,006' '2,016' '2,014' '2,007' '2,009' '2,005'
 '2,021' '2,013' '2,000' '2008' '1,992' '2,001' '1,997' '1,999' '1,993'
 '1,998' '1,986' '1,996' '2,022' '1,995' '1,979' '1,989']

Colour:['Silver' 'Red' 'Blue' 'Black' 'Gold' 'White' 'Gray' 'Burgandy' 'Green'
 'Violet' 'Brown' 'Yellow' 'Orange' 'Pink' 'Beige' 'Purple' 'Ivory' 'G'
 'Teal' 'Mica' 'Pearl']

Amount (Million Naira):[2.20000000e+00 3.50000000e+00 9.20000000e+00 2.28000000e+01
 2.60000000e+00 7.50000000e+00 7.90000000e+01 9.00000000e+00
 7.76000000e+00 2.50000000e+00 7.20000000e+00 3.26000000e+00
 1.91000000e+00 6.95000000e+00 1.70000000e+01 3.55000000e+00
 2.20000000e+01 2.30000000e+01 1.40000000e+01 4.90000000e+00
 2.48000000e+00 1.60000000e+01 4.60000000e+00 1.50000000e+01
 1.18500000e+01 4.10000000e+00 4.50000000e+00 4.20000000e+00
 7.80000000e+00 5.90000000e+00 4.00000000e+00 2.40000000e+00
 3.00000000e+00 3.20000000e+00 2.66000000e+00 1.15000000e+02
 3.30000000e+00 5.50000000e+00 3.85000000e+00 2.30000000e+00
 5.89000000e+01 2.80000000e+00 6.50000000e+00 8.25000000e+00
 6.80000000e+00 2.08000000e+00 1.46000000e+00 3.60000000e+00
 6.85000000e+00 3.75000000e+00 1.00000000e+01 2.81000000e+00
 1.80000000e+00 6.75000000e+01 1.50000000e+00 1.69000000e+00
 6.73000000e+00 9.50000000e+00 5.78000000e+00 9.70000000e+00
 3.80000000e+00 8.44000000e+00 4.45000000e+00 2.90000000e+01
 1.12500000e+01 2.05000000e+00 2.15000000e+01 3.59000000e+00
 5.40000000e+00 1.06900000e+01 1.19000000e+01 7.40000000e+00
 8.68000000e+00 8.50000000e+00 1.20000000e+00 7.31000000e+00
 3.95000000e+00 6.00000000e+00 1.08000000e+01 5.20000000e+01
 1.65500000e+01 4.50000000e+01 3.90000000e+00 1.95000000e+02
 2.70000000e+01 4.35000000e+00 5.60000000e+00 9.90000000e+00
 3.15000000e+00 8.70000000e+00 3.40000000e+00 7.90000000e+00
 8.00000000e+00 1.02000000e+01 1.05000000e+01 4.39000000e+00
 1.90000000e+00 1.40000000e+00 1.20000000e+01 1.39000000e+01
 4.70000000e+00 9.10000000e+00 7.65000000e+00 2.25000000e+00
 6.20000000e+00 4.00000000e+01 1.63000000e+00 1.25000000e+01
 2.00000000e+00 6.70000000e+00 3.38000000e+00 9.56000000e+00
 8.75000000e+01 9.80000000e+00 4.25000000e+00 5.30000000e+00
 5.25000000e+00 2.70000000e+00 3.55000000e+01 5.80000000e+01
 6.65000000e+01 5.16000000e+00 3.58000000e+00 2.59000000e+00
 1.45000000e+01 1.63100000e+01 3.20000000e+01 1.15000000e+00
 5.10000000e+00 3.25000000e+00 1.32000000e+01 1.18000000e+01
 6.25000000e+00 5.80000000e+00 4.30000000e+00 2.85000000e+00
 3.94000000e+00 2.50000000e+01 2.80000000e+01 2.55000000e+01
 1.35000000e+01 4.30000000e+01 2.75000000e+00 6.45000000e+00
 1.01000000e+00 1.98000000e+01 2.03000000e+00 7.00000000e+00
 1.55000000e+01 5.65000000e+00 6.30000000e+00 3.82000000e+00
 4.40000000e+01 4.65000000e+00 2.90000000e+00 3.35000000e+00
 2.40000000e+01 6.60000000e+00 2.10000000e+00 4.95000000e+00
 1.20000000e+02 8.80000000e+00 3.04000000e+00 1.65000000e+01
 4.95000000e+01 9.75000000e+00 3.70000000e+00 1.65000000e+00
 8.65000000e+00 1.13000000e+00 1.60000000e+00 7.65000000e+01
 1.15000000e+01 5.70000000e+00 2.00000000e+01 7.70000000e+00
 5.20000000e+00 4.80000000e+01 1.75000000e+01 7.40000000e+01
 1.18479994e+01 4.80000000e+00 8.85000000e+00 2.95000000e+00
 7.30000000e+00 1.07000000e+01 2.10000000e+01 5.30000000e+01
 1.62000000e+00 2.05000000e+01 2.35000000e+01 2.25000000e+01
 1.22000000e+02 3.45000000e+00 2.95000000e+01 8.30000000e+00
 6.05000000e+00 5.88000000e+00 3.80000000e+01 2.65000000e+00
 2.85000000e+01 5.85000000e+00 4.27000000e+01 3.37000000e+00
 1.80000000e+01 1.85000000e+01 5.00000000e+00 1.42000000e+01
 2.36500000e+01 2.60000000e+01 8.19000000e+00 1.95000000e+00
 2.38000000e+01 1.10000000e+01 1.57000000e+01 3.30000000e+01
 4.05000000e+00 8.20000000e+00 7.10000000e+00 9.15000000e+00
 4.40000000e+00 8.90000000e+00 9.90000000e-01 1.30000000e+01
 5.35000000e+00 3.00000000e+01 3.50000000e+01 5.34000000e+00
 3.65000000e+00 5.90000000e+01 1.24000000e+00 2.45000000e+00
 1.90000000e+01 6.40000000e+00 2.29500000e+01 1.35000000e+00
 4.85000000e+00 1.33000000e+01 8.55000000e+00 3.10000000e+00
 5.74000000e+00 1.12000000e+01 1.74000000e+00 6.80000000e+01
 6.85000000e+01 5.95000000e+00 1.28500000e+01 7.05000000e+00
 1.30000000e+00 2.42000000e+01 9.40000000e+00 7.35000000e+00
 1.68000000e+01 1.45000000e+00 1.95000000e+01 5.61000000e+00
 1.26000000e+00 2.14000000e+00 2.93000000e+00 1.82000000e+01
 1.29000000e+00 3.27000000e+00 1.58000000e+00 3.90000000e+01
 1.85000000e+00 2.30000000e+02 1.37000000e+01 4.20000000e+01
 5.00000000e+01 1.78000000e+00 9.30000000e+00 2.89000000e+00
 3.18000000e+01 1.22000000e+01 2.01700000e+01 1.52000000e+00
 1.52000000e+01 8.40000000e-01 3.93000000e+00 6.08000000e+00
 8.90000000e-01 2.58000000e+00 1.17000000e+01 1.96000000e+01
 4.16000000e+00 1.47000000e+01 2.75000000e+02 5.29000000e+00
 4.73000000e+00 8.50000000e+01 1.48000000e+01 2.15000000e+00
 2.68000000e+00 4.75000000e+00 5.55000000e+00 1.16000000e+01
 9.00000000e-01 5.63000000e+00 2.55000000e+00 2.67000000e+01
 5.50000000e+01 1.38000000e+01 1.47000000e+00 7.60000000e+00
 3.15000000e+01 2.35000000e+00 4.79000000e+00 5.75000000e+00
 1.18000000e+00 1.10000000e+00 2.79000000e+00 8.90000000e+01
 2.28000000e+00 3.65000000e+01 1.99000000e+00 6.10000000e+00
 6.51000000e+00 7.00000000e-01 1.63000000e+01 1.13000000e+01
 9.23000000e+00 7.25000000e+00 2.81300000e+01 6.35000000e+00
 6.90000000e+00 7.75000000e+00 1.73000000e+01 1.70000000e+00
 5.07000000e+00 3.70000000e+01 9.60000000e+00 8.60000000e+00
 1.40000000e+02 4.75000000e+01 4.42000000e+00 1.38500000e+01
 1.57500000e+01 9.50000000e+01 5.51000000e+00 1.26000000e+01
 6.75000000e+00 1.19500000e+01 1.58000000e+01 1.55000000e+00
 2.38000000e+00 1.83000000e+01 2.65000000e+01 5.45000000e+00
 4.77000000e+01 4.49000000e+00 6.00000000e+01 5.06000000e+00
 1.39000000e+00 2.45000000e+01 6.50000000e+01 8.70000000e+01
 1.09000000e+01 1.05500000e+01 1.05000000e+00 4.15000000e+00
 7.85000000e+00 1.21500000e+01 1.07000000e+00 1.46300000e+01
 2.87000000e+00 3.09000000e+00 2.43000000e+01 5.10000000e+01
 1.14500000e+01 3.28000000e+00 7.15000000e+00 4.50000000e-01
 1.23800000e+01 1.49000000e+00 4.04000000e+00 6.68000000e+00
 9.00000000e+01 2.69000000e+02 3.60000000e+01 5.76000000e+00
 2.33000000e+00 1.35000000e+02 4.28000000e+00 8.99000000e+00
 1.28000000e+01 2.28500000e+01 3.71000000e+00 7.95000000e+00
 8.07000000e+00 8.00000000e-01 4.56000000e+02 1.98500000e+01
 1.75000000e+00 1.06500000e+01 1.87000000e+01 3.12000000e+00
 2.92000000e+00 1.25000000e+02 3.61000000e+00 2.36000000e+00
 6.38000000e+00 1.04500000e+01 3.88000000e+00 1.32500000e+01
 2.40000000e+02 2.75000000e+01 1.92000000e+00 8.10000000e+00
 5.62500000e+01 6.20000000e-01 1.76000000e+01 3.45000000e+01
 1.27000000e+01 3.42000000e+00 6.19000000e+00 7.38000000e+00
 8.41000000e+00 1.78000000e+01 3.68000000e+00 1.43000000e+01
 1.88000000e+00 1.24500000e+01 1.97000000e+01 4.55000000e+00
 4.90000000e+01 4.23500000e+01 2.00000000e+02 1.00000000e+02
 4.70000000e+01 2.99900000e+01 2.54500000e+01 1.79000000e+01
 4.32000000e+00 1.94800000e+01 9.45000000e+00 2.98000000e+00
 3.05000000e+00 5.15000000e+00 1.42500000e+01 1.01300000e+01
 1.31500000e+01 1.08500000e+01 1.88000000e+01 6.20000000e+01
 1.25000000e+00 3.44000000e+00 3.99000000e+00 6.39000000e+00
 3.48000000e+01 3.83000000e+00 5.45000000e+01 3.48000000e+00
 4.84000000e+00 7.88000000e+00 2.95000000e+02 6.80000000e-01
 3.86000000e+00 4.60000000e+01 7.90000000e-01 8.00000000e+01
 4.98000000e+00 2.85500000e+01 1.91300000e+01 8.40000000e+00
 9.60000000e-01 1.56000000e+01 9.85000000e+00 1.68500000e+01
 4.83000000e+00 7.09000000e+00 6.90000000e-01 1.94500000e+01
 6.58000000e+00 1.69000000e+01 2.63000000e+00 3.49000000e+00
 9.65000000e+00 6.34000000e+00 1.39500000e+01 1.75000000e+02
 1.29000000e+01 7.50000000e+01 2.62000000e+01 1.15500000e+01
 1.25500000e+01 6.18000000e+00 1.00000000e+00 8.79000000e+00
 5.28000000e+00 1.03000000e+01 1.48500000e+01 2.84000000e+00
 3.33000000e+01 4.02000000e+00 6.70000000e+01 2.37000000e+01
 9.79000000e+00 8.20000000e+01 2.53000000e+00 2.92500000e+01
 7.29000000e+00 4.35000000e+01 1.72000000e+00 2.69000000e+00
 1.98000000e+00 1.70000000e+02 6.91000000e+00 3.00000000e+02
 1.86000000e+00 6.41000000e+00 3.10000000e+01 6.09000000e+01
 4.39000000e+01 6.78000000e+00 8.46000000e+00 4.89000000e+00
 4.99000000e+00 4.61000000e+00 4.66000000e+00 6.53000000e+00
 3.95000000e+01 4.65000000e+01 9.10000000e-01 3.53000000e+00
 7.55000000e+00 1.97000000e+00 5.60000000e+01 2.49000000e+00
 6.17000000e+00 7.80000000e+01 9.35000000e+00 3.85000000e+01
 1.22500000e+01 6.50000000e-01 6.89000000e+00 9.50000000e-01
 1.73000000e+00 9.25000000e+00 1.42000000e+00 1.89500000e+01
 8.52000000e+00 5.09700000e+01 6.55000000e+00 2.97000000e+00
 1.95500000e+01 2.68000000e+01 3.47000000e+00 1.23500000e+01
 1.06000000e+01 1.48000000e+02 8.75000000e+00 5.38000000e+00
 4.25000000e+01 3.49000000e+01 1.02000000e+00 1.23300000e+01
 1.12600000e+01 1.44000000e+02 2.12000000e+01 1.89000000e+00
 8.45000000e+00 1.09400000e+01 4.44000000e+02 7.45000000e+00
 2.47000000e+00 1.08000000e+02 1.59000000e+00 1.05000000e+02
 3.35000000e+01 2.48000000e+01 3.03000000e+00 4.45000000e+01
 4.78000000e+00 9.80000000e+01 1.89000000e+01 4.48000000e+00
 4.21000000e+00 1.66000000e+01 4.68000000e+00 1.57000000e+00
 1.60100000e+01 1.23000000e+01 9.88000000e+00 9.55000000e+00
 3.62000000e+00 8.40000000e+01 3.17000000e+00 3.19000000e+00
 3.77000000e+00 2.61000000e+00 4.50000000e+02 7.30000000e-01
 1.14000000e+01 1.72000000e+01 3.75000000e+01 4.38000000e+00
 8.49000000e+00 1.13500000e+01 1.45500000e+01 1.68800000e+01
 1.24000000e+01 4.13000000e+00 4.55000000e+01 4.88000000e+00
 8.78000000e+00 4.58000000e+00 1.16500000e+01 1.92000000e+01
 1.34500000e+01 1.06000000e+00 2.67000000e+00 2.24100000e+01
 2.58000000e+01 4.52000000e+00 2.45000000e+02 9.30000000e+01
 1.36000000e+01 9.95000000e+00 2.05000000e+02 3.40000000e+01
 2.53000000e+01 9.20000000e+01 5.05000000e+00 4.27000000e+00
 5.37700000e+01 2.31000000e+01 1.28000000e+00 5.40000000e+01
 8.35000000e+00 5.60000000e-01 3.98000000e+00 1.32000000e+00
 3.33500000e+01 4.46000000e+00 2.65000000e+02 2.76000000e+00
 3.89000000e+00 2.34000000e+00 7.99000000e+00 6.65000000e+00
 2.13800000e+01 3.54000000e+00 3.23000000e+00 5.98000000e+00
 5.83000000e+00 1.30000000e+02 7.45000000e+01 5.98000000e+01
 2.39000000e+00 2.80000000e+02 8.70000000e-01 3.80000000e+02
 5.39000000e+00 5.35000000e+01 2.17000000e+01 3.32000000e+01
 1.61000000e+01 6.30000000e+01 1.37500000e+01 8.95000000e+00
 7.69000000e+00 1.87000000e+02 3.12000000e+01 7.33000000e+00
 4.30000000e+02 2.38500000e+01 6.00000000e-01 1.56000000e+00
 1.41500000e+01 4.68000000e+01 8.50000000e-01 4.54000000e+02
 9.62000000e+00 4.86000000e+00 2.07000000e+01 3.21000000e+00
 6.15000000e+00 1.67000000e+01 3.25000000e+01 6.60000000e+01
 2.98000000e+02 2.08000000e+01 7.00000000e+01 1.19000000e+00
 1.88500000e+01 1.08900000e+01 2.79000000e+01 1.56900000e+01
 1.65000000e+02 1.34000000e+01 1.85000000e+02 1.43500000e+01
 8.05000000e+00 2.86000000e+01 1.47500000e+01 2.90000000e+02
 1.96900000e+01 2.70000000e+02 2.98500000e+01 4.38000000e+01
 1.45700000e+01 6.45000000e+01 1.32000000e+02 5.62000000e+00
 4.94000000e+01 1.88800000e+01 4.71000000e+00 3.05000000e+01
 2.25000000e+02 2.49000000e+01 1.40500000e+01 3.97000000e+00
 1.12100000e+01 1.50000000e+02 1.64000000e+01 2.63000000e+01
 2.03000000e+01 4.10000000e+01 1.53000000e+01 1.31000000e+01
 2.18000000e+01 2.31000000e+00 6.77000000e+00 1.74000000e+01
 7.70000000e+01 7.30000000e+01 4.44000000e+00 1.49000000e+02
 1.28000000e+02 1.29500000e+01 1.44500000e+01 1.35500000e+01
 5.70000000e+01 4.33000000e+00 1.77000000e+00 1.46500000e+01
 3.93800000e+01 2.97000000e+01 7.54000000e+00 1.29200000e+01
 5.06300000e+01 1.55000000e+02 1.91000000e+01]

Type:['Nigerian Used' 'Foreign Used' 'Brand New']

Distance:['75,000' '125,000' '110,852' ... '114,257' '85,750' '83,308']

In [81]:
df.Year.describe()

count      7205
unique       34
top       2,008
freq        755
Name: Year, dtype: object

In [82]:
from sklearn.preprocessing import LabelEncoder
#instantiate --- assign the labelencoder algorithm in to a container
lab_enc = LabelEncoder()
df["Year"] = lab_enc.fit_transform(df["Year"])
df.Distance= lab_enc.fit_transform(df["Distance"])
df["Colour"] = lab_enc.fit_transform(df["Colour"])
df.Maker= lab_enc.fit_transform(df["Maker"])

In [83]:
df

,Location,Maker,Year,Colour,Amount (Million Naira),Type,Distance
0,Abuja,17,21,16,2.20,Nigerian Used,2496
1,Ibadan,19,22,16,3.50,Nigerian Used,466
2,Lagos,29,20,15,9.20,Foreign Used,235
3,Abuja,34,27,2,22.80,Foreign Used,1446
4,Ibadan,52,12,15,2.60,Nigerian Used,470
...,...,...,...,...,...,...,...
7200,Abuja,17,28,7,5.70,Foreign Used,2240
7201,Abuja,3,17,19,4.00,Nigerian Used,1107
7202,Abuja,52,20,1,2.85,Nigerian Used,2496
7203,Lagos,34,22,1,8.65,Foreign Used,2783
7204,Abuja,17,22,7,3.38,Nigerian Used,2699

In [84]:
# col_to_encode = ['Type',  'Location', 'Year', 'Maker', 'Colour']
col_to_encode = ['Type',  'Location']
encoded = get_dummies(df, columns=col_to_encode, prefix='coded', drop_first = True)

In [85]:
encoded

,Maker,Year,Colour,Amount (Million Naira),Distance,coded_Foreign Used,coded_Nigerian Used,coded_Ibadan,coded_Lagos
0,17,21,16,2.20,2496,0,1,0,0
1,19,22,16,3.50,466,0,1,1,0
2,29,20,15,9.20,235,1,0,0,1
3,34,27,2,22.80,1446,1,0,0,0
4,52,12,15,2.60,470,0,1,1,0
...,...,...,...,...,...,...,...,...,...
7200,17,28,7,5.70,2240,1,0,0,0
7201,3,17,19,4.00,1107,0,1,0,0
7202,52,20,1,2.85,2496,0,1,0,0
7203,34,22,1,8.65,2783,1,0,0,1
7204,17,22,7,3.38,2699,0,1,0,0

In [86]:
X =  encoded.drop("Amount (Million Naira)", axis = 1)
y =  encoded["Amount (Million Naira)"]  #data.tip

In [87]:
X

,Maker,Year,Colour,Distance,coded_Foreign Used,coded_Nigerian Used,coded_Ibadan,coded_Lagos
0,17,21,16,2496,0,1,0,0
1,19,22,16,466,0,1,1,0
2,29,20,15,235,1,0,0,1
3,34,27,2,1446,1,0,0,0
4,52,12,15,470,0,1,1,0
...,...,...,...,...,...,...,...,...
7200,17,28,7,2240,1,0,0,0
7201,3,17,19,1107,0,1,0,0
7202,52,20,1,2496,0,1,0,0
7203,34,22,1,2783,1,0,0,1
7204,17,22,7,2699,0,1,0,0

In [88]:
y

0        2.20
1        3.50
2        9.20
3       22.80
4        2.60
        ...
7200     5.70
7201     4.00
7202     2.85
7203     8.65
7204     3.38
Name: Amount (Million Naira), Length: 7205, dtype: float64

In [89]:
scaler = MinMaxScaler()

In [90]:
scaled_x = scaler.fit_transform(X) 
scaled_x

array([[0.31481481, 0.63636364, 0.8       , ..., 1.        , 0.        ,
        0.        ],
       [0.35185185, 0.66666667, 0.8       , ..., 1.        , 1.        ,
        0.        ],
       [0.53703704, 0.60606061, 0.75      , ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.96296296, 0.60606061, 0.05      , ..., 1.        , 0.        ,
        0.        ],
       [0.62962963, 0.66666667, 0.05      , ..., 0.        , 0.        ,
        1.        ],
       [0.31481481, 0.66666667, 0.35      , ..., 1.        , 0.        ,
        0.        ]])

In [91]:
scaled_x = pd.DataFrame(data = scaled_x, index = X.index, columns = X.columns)

In [92]:
scaled_x.head()

,Maker,Year,Colour,Distance,coded_Foreign Used,coded_Nigerian Used,coded_Ibadan,coded_Lagos
0,0.314815,0.636364,0.80,0.794146,0.0,1.0,0.0,0.0
1,0.351852,0.666667,0.80,0.148266,0.0,1.0,1.0,0.0
2,0.537037,0.606061,0.75,0.074769,1.0,0.0,0.0,1.0
3,0.629630,0.818182,0.10,0.460070,1.0,0.0,0.0,0.0
4,0.962963,0.363636,0.75,0.149539,0.0,1.0,1.0,0.0

In [93]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scaled_x, y, test_size=0.2, random_state=30)

In [94]:
X_train.head(3)

,Maker,Year,Colour,Distance,coded_Foreign Used,coded_Nigerian Used,coded_Ibadan,coded_Lagos
1315,0.537037,0.787879,0.95,0.715240,1.0,0.0,0.0,1.0
5101,0.537037,0.454545,0.80,0.965956,0.0,1.0,0.0,0.0
3932,0.537037,0.545455,0.10,0.316895,0.0,1.0,1.0,0.0

In [95]:
from sklearn.linear_model import LinearRegression

In [96]:
dt = LinearRegression()

In [97]:
dt.fit(X_train, y_train)

LinearRegression()

In [98]:
dt_pred = dt.predict(X_test)

In [99]:
dt_pred[:3]

array([ 8.72867132, 16.93336757, 18.8516138 ])

In [100]:
from sklearn.tree import DecisionTreeRegressor   # algorithm alternative to linear regression
from sklearn.metrics import r2_score, mean_absolute_error # for evaluation
from sklearn.metrics import mean_squared_error

In [101]:
print('R2: ', r2_score(y_test, dt_pred))
print('mae: ', mean_absolute_error(y_test, dt_pred))

print('mse: ', mean_squared_error(y_test, dt_pred))

R2:  0.2626294173930117
mae:  6.947245439353033
mse:  323.93629526390464

In [102]:
dr = DecisionTreeRegressor()
dr.fit(X_train, y_train)
dr_pred = dr.predict(X_test)
dr_pred[:3]

array([ 5.5, 12.5, 16.8])

In [103]:
print('R2: ', r2_score(y_test, dr_pred))
print('mae: ', mean_absolute_error(y_test, dr_pred))

print('mse: ', mean_squared_error(y_test, dr_pred))

R2:  0.3503069917714118
mae:  5.290767383387052
mse:  285.4184193249857

In [104]:
from xgboost import XGBRegressor
xgb = XGBRegressor()
xgb.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [105]:
xgb_pred = xgb.predict(X_test)
xgb_pred[:3]

array([ 7.456703, 13.908311, 21.30121 ], dtype=float32)

In [106]:
print('R2: ', r2_score(y_test, xgb_pred))
print('mae: ', mean_absolute_error(y_test, xgb_pred))

print('mse: ', mean_squared_error(y_test, xgb_pred))

R2:  0.6759791965742428
mae:  4.293771763494289
mse:  142.34646882586247

In [107]:
from math import sqrt  #function for square

sqrt(mean_squared_error(y_test, xgb_pred))

11.930903940014876

In [108]:
sqrt(mean_squared_error(y_test, dt_pred))

17.998230337005488

In [109]:
sqrt(mean_squared_error(y_test, dr_pred))

16.89433098187039

In [110]:
dr = pd.read_csv("Test.csv")

In [111]:
dr

,VehicleID,Location,Maker,Model,Year,Colour,Type,Distance
0,VHL18518,Abuja,BMW,323i,"2,008",White,Foreign Used,30524.0
1,VHL17149,Lagos,Toyota,Camry,"2,013",White,Foreign Used,NaN
2,VHL10927,Lagos,Toyota,Highlander Limited V6,"2,005",Gold,Foreign Used,NaN
3,VHL12909,Lagos,Toyota,Camry,"2,011",Gray,Foreign Used,166839.0
4,VHL12348,Lagos,Lexus,ES 350 FWD,"2,013",Red,Foreign Used,88862.0
...,...,...,...,...,...,...,...,...
2056,VHL17903,Abuja,Toyota,Avalon,"2,020",Red,Foreign Used,2650.0
2057,VHL14018,Ibadan,Audi,Q5,"2,011",Blue,Foreign Used,99000.0
2058,VHL17473,Ibadan,Toyota,Camry,"2,015",Black,Foreign Used,108000.0
2059,VHL11480,Abuja,Lexus,IS 350 AWD,"2,013",White,Foreign Used,52485.0
2060,VHL13881,Abuja,Pontiac,Torrent,"2,009",Silver,Foreign Used,124088.0

In [112]:
dr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VehicleID  2061 non-null   object
 1   Location   2061 non-null   object
 2   Maker      2061 non-null   object
 3   Model      2061 non-null   object
 4   Year       2059 non-null   object
 5   Colour     2061 non-null   object
 6   Type       2007 non-null   object
 7   Distance   1385 non-null   float64
dtypes: float64(1), object(7)
memory usage: 128.9+ KB

In [113]:
dr.shape

(2061, 8)

In [114]:
dr.drop("Model", axis = 1, inplace = True)

In [115]:
dr.Year = dr.Year.fillna(value = '2008')

In [116]:
dr.Year.isnull().sum()

0

In [117]:
dr.Type.value_counts()

Foreign Used     1390
Nigerian Used     547
Brand New          70
Name: Type, dtype: int64

In [118]:
dr.Type = dr.Type.fillna(value = 'Foreign Used')

In [119]:
dr.Type.isnull().sum()

0

In [120]:
meann = np.mean(dr.Distance)

In [121]:
meann

103800.66859205776

In [122]:
dr.Distance= dr.Distance.fillna(value = 103800.66859205776)

In [123]:
dr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VehicleID  2061 non-null   object
 1   Location   2061 non-null   object
 2   Maker      2061 non-null   object
 3   Year       2061 non-null   object
 4   Colour     2061 non-null   object
 5   Type       2061 non-null   object
 6   Distance   2061 non-null   float64
dtypes: float64(1), object(6)
memory usage: 112.8+ KB

In [124]:
for col in dr.columns:
    print(col, dr[col].unique(), sep = ":", end = '\n\n' )

VehicleID:['VHL18518' 'VHL17149' 'VHL10927' ... 'VHL17473' 'VHL11480' 'VHL13881']

Location:['Abuja' 'Lagos' 'Ibadan']

Maker:['BMW' 'Toyota' 'Lexus' 'Mercedes-Benz' 'Honda' 'Pontiac' 'Hyundai'
 'Land Rover' 'Mitsubishi' 'Volkswagen' 'Acura' 'Mazda' 'Ford' 'Jaguar'
 'Opel' 'Infiniti' 'Kia' 'Peugeot' 'Nissan' 'Chevrolet' 'Cadillac' 'Seat'
 'Audi' 'Porsche' 'Dodge' 'GMC' 'Renault' 'Lincoln' 'Maserati' 'Chrysler'
 'Fiat' 'Subaru' 'Mini' 'Scion' 'Buick' 'Rolls-Royce' 'Volvo' 'Jeep'
 'Lamborghini' 'Brabus']

Year:['2,008' '2,013' '2,005' '2,011' '2,017' '1,999' '2,019' '2,006' '2,015'
 '2,007' '2,012' '2,016' '2,010' '2,003' '2,004' '2,021' '2008' '2,018'
 '2,014' '2,009' '2,001' '2,022' '2,002' '2,020' '1,997' '2,000' '1,998'
 '1,986' '1,991' '1,982']

Colour:['White' 'Gold' 'Gray' 'Red' 'Black' 'Blue' 'Silver' 'Brown' 'Green'
 'Purple' 'Beige' 'Burgandy' 'Auto' 'Cream' 'Pink' 'Yellow' 'V' 'Teal']

Type:['Foreign Used' 'Nigerian Used' 'Brand New']

Distance:[ 30524.         103800.66859206 166839.         ...   2650.
  52485.         124088.        ]

In [125]:
dr["Year"] = lab_enc.fit_transform(dr["Year"])
dr["Colour"] = lab_enc.fit_transform(dr["Colour"])
dr["Maker"] = lab_enc.fit_transform(dr["Maker"])
dr["Maker"] = lab_enc.fit_transform(dr["Distance"])

In [126]:
col_to_encod = ['Type',  'Location']
encod = get_dummies(dr, columns=col_to_encod, prefix='coded', drop_first = True)
encod

,VehicleID,Maker,Year,Colour,Distance,coded_Foreign Used,coded_Nigerian Used,coded_Ibadan,coded_Lagos
0,VHL18518,131,14,16,30524.000000,1,0,0,0
1,VHL17149,626,19,16,103800.668592,1,0,0,1
2,VHL10927,626,11,7,103800.668592,1,0,0,1
3,VHL12909,839,17,8,166839.000000,1,0,0,1
4,VHL12348,528,19,12,88862.000000,1,0,0,1
...,...,...,...,...,...,...,...,...,...
2056,VHL17903,32,26,12,2650.000000,1,0,0,0
2057,VHL14018,604,17,3,99000.000000,1,0,1,0
2058,VHL17473,643,21,2,108000.000000,1,0,1,0
2059,VHL11480,244,19,16,52485.000000,1,0,0,0
2060,VHL13881,722,15,13,124088.000000,1,0,0,0

In [127]:
X =  encod.drop("VehicleID", axis = 1)
# y =  encoded["Amount (Million Naira)"]  #data.tip

In [128]:
scaled_xx = scaler.fit_transform(X) 
scaled_xx

array([[0.12843137, 0.48275862, 0.94117647, ..., 0.        , 0.        ,
        0.        ],
       [0.61372549, 0.65517241, 0.94117647, ..., 0.        , 0.        ,
        1.        ],
       [0.61372549, 0.37931034, 0.41176471, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.63039216, 0.72413793, 0.11764706, ..., 0.        , 1.        ,
        0.        ],
       [0.23921569, 0.65517241, 0.94117647, ..., 0.        , 0.        ,
        0.        ],
       [0.70784314, 0.51724138, 0.76470588, ..., 0.        , 0.        ,
        0.        ]])

In [129]:
scaled_xx = pd.DataFrame(data = scaled_xx, index = X.index, columns = X.columns)
scaled_xx.head()

,Maker,Year,Colour,Distance,coded_Foreign Used,coded_Nigerian Used,coded_Ibadan,coded_Lagos
0,0.128431,0.482759,0.941176,0.030981,1.0,0.0,0.0,0.0
1,0.613725,0.655172,0.941176,0.105357,1.0,0.0,0.0,1.0
2,0.613725,0.379310,0.411765,0.105357,1.0,0.0,0.0,1.0
3,0.822549,0.586207,0.470588,0.169342,1.0,0.0,0.0,1.0
4,0.517647,0.655172,0.705882,0.090195,1.0,0.0,0.0,1.0

In [130]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5764 entries, 1315 to 5925
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Maker                5764 non-null   float64
 1   Year                 5764 non-null   float64
 2   Colour               5764 non-null   float64
 3   Distance             5764 non-null   float64
 4   coded_Foreign Used   5764 non-null   float64
 5   coded_Nigerian Used  5764 non-null   float64
 6   coded_Ibadan         5764 non-null   float64
 7   coded_Lagos          5764 non-null   float64
dtypes: float64(8)
memory usage: 405.3 KB

In [131]:
scaled_xx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Maker                2061 non-null   float64
 1   Year                 2061 non-null   float64
 2   Colour               2061 non-null   float64
 3   Distance             2061 non-null   float64
 4   coded_Foreign Used   2061 non-null   float64
 5   coded_Nigerian Used  2061 non-null   float64
 6   coded_Ibadan         2061 non-null   float64
 7   coded_Lagos          2061 non-null   float64
dtypes: float64(8)
memory usage: 128.9 KB

In [132]:
from xgboost import XGBRegressor
xgb = XGBRegressor()
xgb.fit(X_train, y_train)
xgb_predd = xgb.predict(scaled_xx)
xgb_predd[:3]

array([-0.34144503,  6.829136  ,  2.996089  ], dtype=float32)

In [133]:

xgb_predd = pd.DataFrame(data = xgb_predd, columns = ['Amount (Million Naira)'])

In [134]:

xgb_predd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061 entries, 0 to 2060
Data columns (total 1 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Amount (Million Naira)  2061 non-null   float32
dtypes: float32(1)
memory usage: 8.2 KB

In [135]:
# pd.merge(dr, xgb_predd[["VehicleID", "Amount (Million Naira)"]], on="VehicleID", how="left")
# df_cd = pd.merge(dr, xgb_predd, how='inner', on = 'VehicleID')
rr = pd.merge(dr.VehicleID,xgb_predd, how = 'inner', on = dr["VehicleID"])
rr.drop('key_0', axis = 1, inplace = True)

In [136]:
rr

     VehicleID  Amount (Million Naira)
0     VHL18518               -0.341445
1     VHL17149                6.829136
2     VHL17149               12.791060
3     VHL17149                6.829136
4     VHL17149               12.791060
...        ...                     ...
2458  VHL17903                6.272153
2459  VHL14018               11.895899
2460  VHL17473                7.130605
2461  VHL11480               23.229563
2462  VHL13881                2.773290

[2463 rows x 2 columns]

In [137]:
rr.to_csv('finalre1sult.csv',index= False) #-- to remove the index